.page {
  height: calc(100vh - 4em);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  align-self: center;
}

.icons {
  position: sticky;
  bottom: 25px;
  text-align: right;
  display: flex;
  flex-direction: column;
  padding-right: 1em;
}