.page {
  height: calc(100vh - 4em);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  align-self: center;
}

.icons {
  position: sticky;
  bottom: 25px;
  right: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1em;
  width: fit-content;
  height: 70px;
}
