.union {
  height: 75px;
  width: 75px;
}

.aboutStackContainer {
 display: flex;
 width: 80%;
}

.aboutp {
  display: flex;
  align-self: center;
  width: 50%;
  text-align: justify;
  justify-content: newspaper;
  margin: 0;
}

.stackContainer {
  width: 50%;
}

.stackContainer img {
  width: 2em;
  padding: .5em;
}

@media screen and (max-width: 550px) {
  .aboutStackContainer {
    flex-direction: column-reverse;
    width: 80%;
  }
  .aboutp {
    width: 100%;
  }
  .stackContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }

}