#contact {
  padding-top: 4.5em;
} 

.formContainer {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

.formContainer textarea, input {
  width: 100%;
  border: 1px solid black;
  font-family: 'Archivo', sans-serif;
  font-weight: lighter;
}

.formContainer button {
  text-transform: uppercase;
  font-family: 'Ranade', sans-serif;
  font-size: large;
  text-decoration: none;
  border: 2px solid black;
  padding: 5px;
  box-shadow: 3px 2px black, 1px 0 black, 2px 1px black;
}

.formContainer button:hover {
  box-shadow: 3px 2px rgb(27, 226, 27), 1px 0 rgb(27, 226, 27), 2px 1px rgb(27, 226, 27);
}
