.bar{
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 1em;
}

.navlink{
  text-transform: uppercase;
  font-size: larger;
  text-decoration: none;
  border: 2px solid black;
  padding: 5px;
  box-shadow: 3px 2px black, 1px 0 black, 2px 1px black;
}

.navlink:visited {
  color: black;
  border: 0px solid black;
}

.navlink:active{
  color: black;
}

.navlink:hover{
  opacity: 100;
}


@media (max-width: 550px) {
  .navlink {
    font-size: small;
  }
}

@media (min-width: 900px) {
  .bar {
    width: 900px;
  }
}