.bar{
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 1em;
  background-color: white;
  width: 100%;
}

.navlink{
  text-transform: uppercase;
  font-size: larger;
  text-decoration: none;
  width: 100px;
  padding: 5px;
  border: 2px solid black;
  box-shadow: 3px 2px black, 1px 0 black, 2px 1px black;
}

.navlink:visited {
  color: black;
  border: 0px solid black;
}

.navlink:active{
  color: black;
}

.navlink:hover{
  opacity: 100;
}

@media screen and (max-width: 550px) {
  .navlink {
    font-size: small;
  }
  .bar {
    flex-wrap: wrap;
    margin-top: 10px;
    height: 80px;
  }
}

@media screen and (min-width: 1000px) {
  .bar {
    width: 900px;
    place-self: center;
  }
}