.projectCard {
  display: flex;
  height: fit-content;
  width: 80%;
  height: 40%;
  margin-top: 2em;
}

.img {
  width: 200px;
  height: auto;
}

.projectCard section {
  width: 50vw;
  margin: 0 1em;
}

section p {
  text-align: justify;
  text-justify:newspaper;
}

@media screen and (max-width: 550px) {
  .projectCard {
    flex-direction: column-reverse;
  }
  .projectCard section {
    width: 75vw;
    margin: 0 1em;
  }
  .projectCard a {
    width: 100%;
  }
}