body {
  margin: 0;
  font-family: 'Ranade', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Archivo', sans-serif;
  font-weight: lighter;
}

h2{
  font-family: 'Archivo', sans-serif;
  font-weight: lighter;
}

h3{
  font-family: 'Archivo', sans-serif;
}

button {
  background-color: white;
  font-family: 'Ranade', sans-serif;
  font-weight: lighter;
}

a, 
a:active,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: 40%;
}

span {
  padding: .1em .3em;
}