body {
  margin: 0;
  font-family: 'Ranade', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Archivo', sans-serif;
  font-weight: lighter;
}

h2{
  font-family: 'Archivo', sans-serif;
  font-weight: lighter;
}

h3{
  font-family: 'Archivo', sans-serif;
}